.film-card-view1 {
  max-width: 300px;
  height: 900px;
  margin-bottom: 50px;
  position: relative;
  margin: 0;
}
img.img-view1 {
  max-width: 350px;
  height: 550px;
  
}
button {
  position: absolute;
  bottom:10px;
  right:10px;
}
.film-card-view2 {
  width: 600px;
  height: 400px;
  margin-bottom: 50px;
  display:flex;
  justify-content: space-around;
  font-size: 14px;
  background-color: white;
  position: relative;
  padding: 25px 20px 0 0;
}
img.img-view2 {
  width: 250px;
  height: 350px;
  margin: 25px 30px;
}

.material-icons.mat-icon{
  color: #FF77A0;
  height: 20px;
  margin-left: 10px;
  font-size: 20px;
  
}



